<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Welcome</title>
	</head>
	<body>
		<h1>Welcome</h1>
		<img src="https://sun9-21.userapi.com/s/v1/ig2/BqVaet5-UlT2GgHThdLNqoshXIGqFcwl7NmF9Ks5wKy35uHMcL3tzdxabcBD1-CT48NVwxkxa1ip_G56KRIlue40.jpg?size=1024x744&quality=95&type=album">
		<img src="https://sun9-86.userapi.com/s/v1/ig2/DMRsU3jC7QoMsX8kUjbzgE1_nQ00qaroOQe9zvDKSVsAcp8K758lfejaDXM4nEb4mbe_pXSYgyvzdW3q1DwnNXsc.jpg?size=1000x778&quality=95&type=album">
		<img src="https://sun9-65.userapi.com/s/v1/ig2/THmTdNLCo1_k_YxNH1HGESx-8ihSd-BCt5nkZr6131aW_1IX6XwdgsjaFmlgvOi160Dg62kDWjodTcnLmXDyfcEM.jpg?size=1400x2041&quality=95&type=album">
	</body>
</html>